/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

* {
  color: #333;
}

.lightGroup {
  padding: 2% 5%;
}

.lightGroup label {
  margin-right: 10px;
}

.datebutton{
background-color:white;
border-radius:5px;
overflow:auto;
display: inline-block;
width: auto;
margin-right: 10px;
border: 1px solid #ebd3bd;

}

.datebutton input {
  position: absolute;
  top: -300px;
}
.datebutton span {
  padding: 5px;
  cursor: pointer;
}

.datebutton label{
  margin: 0;
}

.datebutton input:checked + span {
    background-color: #999;
    color:white;
    width: 100%;
}

.lightGroup>label:first-child{
  font-size: 1.3em;
  display: inline-block;
  margin-bottom: 5px;
}

button {
  background-color: #f0f0f0;
  padding-left: 5px;
  padding-right: 5px;
}

.header {
  font-size: 20px;
}

hr {
  border-top: 1px solid rgba(200, 200, 200, 0.7);
}

h3{
  margin-left: 5%;
}

.simulationTime {
  font-size: 30px;
  display: inline-block;
}

.timelabel {
  font-size: 25px;
  display: inline-block;
}

#lightbulb {
  width: 50px;
  position: absolute;
  top: 43px;
  left: 90px;
}

#lightbulb2 {
  width: 50px;
  position: absolute;
  top: 43px;
  right: 90px;
}

.wrapper {
  position: relative;
}